<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1>Video <strong>Call</strong></h1>
    </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<section class="container">
    <div class="video-call-wrap">
        <div class="video-call-user">
            <img src="assets/images/video-call-user.png">
        </div>
        <img src="assets/images/video-call-img.png">
        <div class="video-call-bottom">
           <div class="">
               <button class="cmn-btn mute-icon"></button>
               <button class="cmn-btn call-end-icon"></button>
           </div>
           <button class="cmn-btn full-screen-icon"></button>
        </div>
    </div>
</section>
<!-- Body content end -->
