.btn.btn-submit{
    width: 184px;
    height: 64px;
    background: linear-gradient(180deg, #22A6DE 0%, #2257DE 75.52%);
    border-radius: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 51px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    margin: 10px auto 0px;
    font-weight: 400;
    text-decoration: none;
}