<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1>Book <strong>Slots</strong></h1>
    </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<section class="container">
    <div class="book-services-block">
        <p>What services are you looking for?</p>
        <div class="radio-item-bx">
            <label class="radio-item">     
                <input type="checkbox" checked="checked" name="radio">
                <span class="checkmark"></span>
                <span class="radio-label">Haircuts & Styling: Men ,Women</span>
            </label>
            <span class="item-price">$10</span>
        </div>
        <div class="radio-item-bx">
            <label class="radio-item">
                <input type="checkbox" name="radio">
                <span class="checkmark"></span>
                <span class="radio-label">Perm or Straightening</span>
            </label>
            <span class="item-price">$20</span>
        </div>
        <div class="radio-item-bx item-border-top">
            <label class="radio-item">
                <input type="checkbox" name="radio">
                <span class="checkmark"></span>
                <span class="radio-label">Color & Highlights</span>
            </label>
            <span class="item-price">$70</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mrt30">
            <div class="calendar-block">
                <mat-calendar></mat-calendar>
            </div>
        </div>
        <div class="col-md-6 mrt30">
            <div class="slots-block">
                <h4>Already booked slots</h4>
                <p class="slots-booked-item">10:00am - 11:30am  |  3:30pm - 4:30pm  |  5:30pm - 6:30</p>
            </div>
            <a href="javascript:void(0);"  [routerLink]="['/service-book-details']" class="btn btn-submit">Book Service</a>
        </div>
    </div>
    <div class="trainer-item-row service-item-row mt-5">
            <div class="text-center padd-tp-btm25 width754">
                <h4 class="service-title">Schedule</h4>
                <h5 class="schedule-date-title">January 03,2021 - January 10, 2021</h5>
                <p class="schedule-sub-title">All times listed are in your local time zone</p>
                <div class="table-responsive schedule-table">
                    <table class="table table-bordered text-center">
                        <tbody>
                            <tr>
                                <td class="align-middle">08:00am</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><span class="schedule-add"></span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="align-middle"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><span class="schedule-add"></span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="align-middle">09:00am</td>
                                <td></td>
                                <td><span class="schedule-add"></span></td>
                                <td><span class="schedule-add"></span></td>
                                <td></td>
                                <td><span class="schedule-add"></span></td>
                            </tr>
                            <tr>
                                <td class="align-middle"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><span class="schedule-add"></span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="align-middle">10:00am</td>
                                <td></td>
                                <td></td>
                                <td><span class="schedule-add"></span></td>
                                <td></td>
                                <td><span class="schedule-add"></span></td>
                            </tr>
                            <tr>
                                <td class="align-middle"></td>
                                <td></td>
                                <td></td>
                                <td><span class="schedule-add"></span></td>
                                <td></td>
                                <td><span class="schedule-add"></span></td>
                            </tr>
                            <tr>
                                <td class="align-middle">11:00am</td>
                                <td></td>
                                <td></td>
                                <td><span class="schedule-add"></span></td>
                                <td></td>
                                <td><span class="schedule-add"></span></td>
                            </tr>
                            <tr>
                                <td class="align-middle"></td>
                                <td></td>
                                <td><span class="schedule-add"></span></td>
                                <td></td>
                                <td><span class="schedule-add"></span></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>
<!-- Body content end -->
