<div class="p-4">
    <div class="flex-inner-bx">
        <div class="trainer-item-info">
            <h2>{{provider.UserFullName}}</h2>
            <!-- {{provider.category_details}} -->
            <p class="pt-2">Job category: <span>{{provider.category_info}}</span></p>
            <!-- <p class="pin-txt m-time-icon">Job start & end time: <span>1:00AM -4:00AM </span></p> -->

            <p class="pin-txt m-price-icon">Price: <span class="price-bold">$90</span></p>
            <p class="pin-txt m-price-icon">Phone: <span class="price-bold">{{provider.UserPhone}}</span></p>
        </div>
    </div>

</div>