<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1><strong>Cosmetics</strong></h1>
    </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<section class="container">
    <div class="trainer-item-row service-item-row product-details-wrap">
        <div class="trainer-item">
            <div class="product-galley-bx">
              
                <div id="big" class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="assets/images/product-item-img-1.png" />
                    </div>
                    <div class="item">
                        <img src="assets/images/product-item-img-2.png" />
                    </div>
                    <div class="item">
                        <img src="assets/images/product-item-img-3.png" />
                    </div>
                    <div class="item">
                        <img src="assets/images/product-item-img-5.png" />
                    </div>
                    <div class="item">
                        <img src="assets/images/product-item-img-6.png" />
                    </div>
                    <div class="item">
                        <img src="assets/images/product-item-img-7.png" />
                    </div>
                </div>
                <div id="thumbs" class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="assets/images/product-item-img-1.png" />
                    </div>
                    <div class="item">
                        <img src="assets/images/product-item-img-2.png" />
                    </div>
                    <div class="item">
                        <img src="assets/images/product-item-img-3.png" />
                    </div>
                    <div class="item">
                        <img src="assets/images/product-item-img-5.png" />
                    </div>
                    <div class="item">
                        <img src="assets/images/product-item-img-6.png" />
                    </div>
                    <div class="item">
                        <img src="assets/images/product-item-img-7.png" />
                    </div>
                </div>
                
                <!-- <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                    <li data-thumb="images/product-item-img-1.png"> 
                        <img src="images/product-item-img-1.png" />
                    </li>
                    <li data-thumb="images/product-item-img-2.png"> 
                        <img src="images/product-item-img-2.png" />
                    </li>
                    <li data-thumb="images/product-item-img-3.png"> 
                        <img src="images/product-item-img-3.png" />
                    </li>
                    <li data-thumb="images/product-item-img-4.png"> 
                        <img src="images/product-item-img-4.png" />
                    </li>
                </ul> -->
            </div>
            <div class="trainer-item-info">
                <h4>Biotique Bio Cucumber Pore Tightening Toner Men & Women  (120 ml)</h4>
                <p>It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. </p>
                <p class="star-bx"><img src="assets/images/star-icon.png"> <span>(1920)</span></p>
                <p class="price-d">$120</p>
            </div>
          
        </div>
        <div class="service-item-row-2">
            <hr class="border-top-1">
            <div class="product-overview-bx">
                <ul class="nav nav-tabs profile-nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#overview" role="tab" aria-selected="true">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#dimentions" role="tab" aria-selected="false">Dimentions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#care-instructions" role="tab" aria-selected="false">Care/Instructions</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane overview-tab-pane fade show active" id="overview" role="tabpanel">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        <hr class="border-top-1">
                        <p class="product-overview-txt">Net Weight: <span>233 gm</span></p>
                        <p class="product-overview-txt">Sales Package: <span>1 Day Cream</span></p>
                        <p class="product-overview-txt">Pack of: <span>1</span></p>
                    </div>
                    <div class="tab-pane fade" id="dimentions" role="tabpanel">
                        Dimentions
                    </div>
                    <div class="tab-pane fade" id="care-instructions" role="tabpanel">
                        Care/Instructions
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="#" class="btn book-service-btn">Book Service</a>
            </div>
        </div>
    </div>
    
</section>
<!-- Body content end -->