<div class="login-modal-header">
    <button type="button" class="close" mat-dialog-close>
        <i class="x-icon-medium" aria-hidden="true"></i>
    </button>
</div>
<mat-dialog-content class="login-modal-bx">
    <div class="modal-content">
        <h1>Add service</h1>
        <form>
            <div class="row">
                <div class="col-md-12 form-group custom-input-field">
                    <input type="text" class="form-control" placeholder="Product Name" required="required">
                </div>
                <div class="col-md-12 form-group custom-input-field">
                    <select class="select-control form-control">
                        <option value="1">Hair Cut</option>
                        <option value="2">Facial</option>
                        <option value="3">Oil Massage</option>
                    </select>
                </div>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-submit">Submit</button>
            </div>
        </form>
    </div>
</mat-dialog-content>
