<div class="container" fxLayout="column" fxLayoutAlign="center">



</div>
<!-- Header start -->
<header class="header" *ngIf="!service.isLoggedIn">
    <div class="container">
        <div class="header_inner">
            <div class="logo_section">
                <a href="#"><img src="assets/images/logo.png" alt="" /></a>
            </div>
            <!-- Searchbar when no login -->
            <div class="header_right_section">
                <div class="header_right_section_top">
                    <div class="for-location">

                        <input placeholder="Address " matInput matGoogleMapsAutocomplete
                            (onAutocompleteSelected)="onAutocompleteSelected($event)"
                            (onLocationSelected)="onLocationSelected($event)"
                            (onGermanAddressMapped)="onGermanAddressMapped($event)">
                    </div>
                    <!-------------------------------------------------------------------------------------------------->


                    <div class="category_search dropdown">
                        <div class="all_category dropdown-toggle" data-toggle="dropdown">
                            All Category
                        </div>
                        <div class="all_category_search" data-toggle="dropdown">
                            <form action="onSearch()">
                                <input (focus)="openDropdown()" autocomplete="off" (blur)="closeDropdown()" type="text"
                                    placeholder="What you are looking for" [(ngModel)]="searchQuery" name="searchQuery"
                                    (onChange)="onSearchChange($event)" />
                            </form>
                        </div>

                        <div class="search-dropdown categorie-dropdown"
                            *ngIf="categorySubcategory && searchQuery !='' && open == true">
                            <a (click)="listingDetails(item._id)" class="dropdown-item"
                                *ngFor="let item of categorySubcategory | searchFilter: {title: searchQuery}">{{item.name}}</a>
                        </div>

                         <!-- <div class="search-dropdown categorie-dropdown"
                            *ngIf="categorylisting && searchQuery !='' && open == true">
                            <a [routerLink]="['/sub-category/'+item._id]" class="dropdown-item"
                                *ngFor="let item of categorySubcategory | searchFilter: {title: searchQuery}">{{item.name}}</a>
                        </div> -->


                        <div class="dropdown-menu categorie-dropdown">
                            <a [routerLink]="['/sub-category/'+data._id]" class="dropdown-item"
                                *ngFor="let data of categorylisting">{{data.name}}</a>
                        </div>
                    </div>


                    <!------------------------------------------------------------------------------------------------>

                    <div class="login_country_select">

                        <!-- <div class="login_section"> -->
                        <!-- <a href="javascript:void(0);" (click)="openLoginDialog()"
                                *ngIf="!service.isLoggedIn">Login</a> -->
                        <!-- <a href="javascript:void(0);" (click)="gotoProfile()" *ngIf="service.isLoggedIn">Profile</a> -->
                        <!-- <a href="javascript:void(0);" (click)="logout()" *ngIf="service.isLoggedIn">Log out</a> -->
                        <!-- </div> -->
                        <div class="login_section">
                            <a href="javascript:void(0);" (click)="openLoginDialog()"
                                *ngIf="!service.isLoggedIn">Login</a>
                            <!-- <a href="javascript:void(0);" (click)="gotoProfile()" *ngIf="service.isLoggedIn">Profile</a> -->
                            <!-- <a href="javascript:void(0);" (click)="logout()" *ngIf="service.isLoggedIn">Log out</a> -->
                        </div>

                        <!-- TO PUT BACK -->
                        <!-- <div class="country_select">
                            <div class="country_flag">
                                <img src="assets/images/flag.png" alt="" /> EN
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="header_right_section_bottom">
                    <div class="navigation">
                        <nav class="navbar navbar-expand-lg navbar-light">

                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">

                                    <!-- LOGOUT HEADER -->
                                    <li class="nav-item active">
                                        <a class="nav-link" href="javascript:void(0);"
                                        [routerLink]="['/home']">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);"
                                            [routerLink]="['/about-us']">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);"
                                            [routerLink]="['/contact-us']">Contact Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/post-a-need']"
                                            routerLinkActive="active">Post a need</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/sub-category']"
                                            routerLinkActive="active">Category</a>
                                    </li> -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/create-event']"
                                            routerLinkActive="active">Event</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a class="nav-link" href="#">Hire me</a>
                                    </li> -->

                                </ul>

                            </div>
                        </nav>
                    </div>
                    <!-- TO PUT BACK -->

                    <!-- <div class="cart_price">
                        <div class="cart_icon">
                            <span class="cart_count">02</span>
                        </div>
                        $156.00
                    </div> -->
                </div>
            </div>

        </div>
    </div>
</header>
<!-- Header end -->

<!-- Header 2 start -->
<header class="header" *ngIf="service.isLoggedIn">
    <div class="container">
        <div class="header_inner">
            <div class="logo_section">
                <a href="#"><img src="assets/images/logo.png" alt="" /></a>
            </div>
            <div class="header_right_section">
                <div class="header_right_section_top">
                    <div class="for-location">
                        <input placeholder="Address " matInput matGoogleMapsAutocomplete
                            (onAutocompleteSelected)="onAutocompleteSelected($event)"
                            (onLocationSelected)="onLocationSelected($event)"
                            (onGermanAddressMapped)="onGermanAddressMapped($event)">
                    </div>



<!---------------------------------------------------------------------------------------------------------------------------->

            <div class="category_search dropdown">
            <div class="all_category dropdown-toggle" data-toggle="dropdown">
                All Category
             </div>
            <div class="all_category_search" data-toggle="dropdown">
                <form action="onSearch()">
                    <input (focus)="openDropdown()" autocomplete="off" (blur)="closeDropdown()" type="text"
                     placeholder="What you are looking for" [(ngModel)]="searchQuery" name="searchQuery"
                    (onChange)="onSearchChange($event)" />
                </form>
            </div>

            <div class="search-dropdown categorie-dropdown"
                *ngIf="categorySubcategory && searchQuery !='' && open == true">
                <a (click)="listingDetails(item._id)" class="dropdown-item"
                *ngFor="let item of categorySubcategory | searchFilter: {title: searchQuery}">{{item.name}}</a>
             </div>

            <!-- <div class="search-dropdown categorie-dropdown"
             *ngIf="categorylisting && searchQuery !='' && open == true">
            <a [routerLink]="['/sub-category/'+item._id]" class="dropdown-item"
            *ngFor="let item of categorySubcategory | searchFilter: {title: searchQuery}">{{item.name}}</a>
            </div> -->


            <div class="dropdown-menu categorie-dropdown">
            <a [routerLink]="['/sub-category/'+data._id]" class="dropdown-item"
            *ngFor="let data of categorylisting">{{data.name}}</a>
            </div>
        </div>



<!---------------------------------------------------------------------------------------------------------------------------->



                    <div class="login_country_select">
                        <div class="profile-right-nav" *ngIf="service.isLoggedIn">
                            <div class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle profile-btn" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="profile-icon"></i><span>{{service.UserFullName}}</span>
                                </a>
                                <!-- <a href="#" class="btn-bell">
                                    <span class="badge">02</span>
                                </a> -->
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="javascript:void(0);" *ngIf="service.userType=='2'"
                                        (click)="gotoProfile()">My
                                        Profile</a>
                                   
                                    <a class="dropdown-item" href="javascript:void(0);" (click)="goToJobList()"
                                        *ngIf="service.userType=='2'">Jobs List</a>
                                    <a class="dropdown-item" href="javascript:void(0);" *ngIf="service.userType=='1'"
                                        (click)="gotoProviderProfile()">Provider
                                        Profile</a>
                                    <a class="dropdown-item" href="javascript:void(0);" *ngIf="service.userType=='1'"
                                        (click)="addStripeAccount()">Add Stripe Account</a>
                                        <a class="dropdown-item" href="javascript:void(0);" *ngIf="service.userType=='1'"
                                        (click)="verifyStripeAccount()">Verify Stripe Account</a>
                                    <a class="dropdown-item" href="javascript:void(0);" (click)="goToBookingList()"
                                        *ngIf="service.userType=='1'">Bookings List</a>


                                    <a class="dropdown-item" href="javascript:void(0);" (click)="logout()">Logout</a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="login_section"> -->
                        <!-- <a href="javascript:void(0);" (click)="openLoginDialog()"
                                *ngIf="!service.isLoggedIn">Login</a> -->
                        <!-- <a href="javascript:void(0);" (click)="gotoProfile()" *ngIf="service.isLoggedIn">Profile</a> -->
                        <!-- <a href="javascript:void(0);" (click)="logout()" *ngIf="service.isLoggedIn">Log out</a> -->
                        <!-- </div> -->


                        <!-- TO PUT BACK -->
                        <!-- <div class="country_select">
                            <div class="country_flag">
                                <img src="assets/images/flag.png" alt="" /> EN
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="header_right_section_bottom inner-nav-2">
                    <div class="navigation">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>


                            <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="userType=='2'">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="javascript:void(0);"
                                        [routerLink]="['/home']">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);"
                                            [routerLink]="['/about-us']">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);"
                                            [routerLink]="['/contact-us']">Contact Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/post-a-need']"
                                            routerLinkActive="active">Post a need</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);"
                                            [routerLink]="['/register-class-list']"
                                            routerLinkActive="active">Classes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/create-event']"
                                            routerLinkActive="active">Event</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="userType=='1'">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="javascript:void(0);"
                                        [routerLink]="['provider-dashboard']">Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);"
                                            [routerLink]="['/about-us']">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);"
                                            [routerLink]="['/contact-us']">Contact Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);"
                                            [routerLink]="['/register-class-list']"
                                            routerLinkActive="active">Classes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/provider-add']"
                                            routerLinkActive="active">Add a service</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/service-list']"
                                        routerLinkActive="active">My Service list</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- <div class="profile-right-nav" *ngIf="service.isLoggedIn">
                        <div class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle profile-btn" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="profile-icon"></i><span>{{service.UserFullName}}</span>
                            </a>
                             <a href="#" class="btn-bell">
                                <span class="badge">02</span>
                            </a> 
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void(0);" *ngIf="service.userType=='2'" (click)="gotoProfile()">My
                                    Profile</a>
                                    <a class="dropdown-item" href="javascript:void(0);" (click)="goToJobList()" *ngIf="service.userType=='2'">Jobs List</a>
                                <a class="dropdown-item" href="javascript:void(0);" *ngIf="service.userType=='1'"
                                    (click)="gotoProviderProfile()">Provider
                                    Profile</a>
                                <a class="dropdown-item" href="javascript:void(0);" (click)="goToBookingList()"  *ngIf="service.userType=='1'">Bookings List</a>


                                <a class="dropdown-item" href="javascript:void(0);" (click)="logout()">Logout</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>

        </div>
    </div>
</header>
<!-- Header 2 end -->