<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1>Registered <strong>Customer List</strong></h1>
    </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<section class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="trainer-item">
                <div class="trainer-img" style="background-image:url('assets/images/trainer-img-1.png')">
                </div>
                <div class="trainer-item-info">
                    <h4>Netnapa Seesai</h4>
                    <div><p class="pin-txt phone-call-txt">+1 785 452 1254</p></div>
                    <div><p class="pin-txt mail-txt">netnapaseesai@gmail. com</p></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="trainer-item">
                <div class="trainer-img" style="background-image:url('assets/images/trainer-img-2.png')">
                </div>
                <div class="trainer-item-info">
                    <h4>Netnapa Seesai</h4>
                    <div><p class="pin-txt phone-call-txt">+1 785 452 1254</p></div>
                    <div><p class="pin-txt mail-txt">netnapaseesai@gmail. com</p></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="trainer-item">
                <div class="trainer-img" style="background-image:url('assets/images/trainer-img-3.png')">
                </div>
                <div class="trainer-item-info">
                    <h4>Netnapa Seesai</h4>
                    <div><p class="pin-txt phone-call-txt">+1 785 452 1254</p></div>
                    <div><p class="pin-txt mail-txt">netnapaseesai@gmail. com</p></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="trainer-item">
                <div class="trainer-img" style="background-image:url('assets/images/trainer-img-4.png')">
                </div>
                <div class="trainer-item-info">
                    <h4>Netnapa Seesai</h4>
                    <div><p class="pin-txt phone-call-txt">+1 785 452 1254</p></div>
                    <div><p class="pin-txt mail-txt">netnapaseesai@gmail. com</p></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="trainer-item">
                <div class="trainer-img" style="background-image:url('assets/images/trainer-img-5.png')">
                </div>
                <div class="trainer-item-info">
                    <h4>Netnapa Seesai</h4>
                    <div><p class="pin-txt phone-call-txt">+1 785 452 1254</p></div>
                    <div><p class="pin-txt mail-txt">netnapaseesai@gmail. com</p></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="trainer-item">
                <div class="trainer-img" style="background-image:url('assets/images/trainer-img-2.png')">
                </div>
                <div class="trainer-item-info">
                    <h4>Netnapa Seesai</h4>
                    <div><p class="pin-txt phone-call-txt">+1 785 452 1254</p></div>
                    <div><p class="pin-txt mail-txt">netnapaseesai@gmail. com</p></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Body content end -->
    
