
    <div id="accordion">
        <div class="card format">
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            
            <div class="card-body ">
               <div>
                
                <h5 class="mb-0">User Type</h5>
                <!-- <input type="number" placeholder="Price" #d [(ngModel)]="price" value="price" > -->
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Radios0" id="exampleRadios1" value="kids" (change)="onTypeChange($event.target.value)" checked>
                  <label class="form-check-label" for="exampleRadios1">
                   Kids Classes & Tutoring
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Radios0" id="exampleRadios2" value="adults" (change)="onTypeChange($event.target.value)">
                  <label class="form-check-label" for="exampleRadios2">
                    Classes for Adults
                  </label>
                </div>

                
                  <!-- <h5 class="mb-0"> AGES</h5>
                  <input placeholder="Min" type="number" #a1 [(ngModel)]="minAge" value="minAge" >
                  <input placeholder="Max" type="number" #a2 [(ngModel)]="maxAge" value="maxAge" >

                  <button (click)="filter()" class="fil-sb-bt">Submit</button>-->

                  <!-- <button (click)="serviceList()" class="fil-sb-bt">Submit</button> -->
            </div>
      </div>
    </div>
</div>