<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1>{{title}}</h1>
    </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<!-- <section class="container">
    <div class="text-center width754">
        <div class="row breakWord">
            <div class="col-sm-12">
                <div [innerHTML] = "page"></div>
            </div>
        </div>
    </div>
</section> -->

<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="yabanner"></div>
        </div>
    </div>

</section>
<!-- Body content end -->
