<div class="img-video">
    <h4>Some Video/Photos</h4>
    <div class="img-and-vid-list">
        <div class="imd-video-list" *ngFor='let item of providerGallery; let i=index'>
            <div>
            <img src="{{photoUrl}}/{{item}}" alt="">
            </div>
            <!-- <div class="title">
                Photos title
            </div> -->
        </div>
        <!-- <a class="dropdown-item" href="javascript:void(0);" (click)="ViewImage()">View all</a>
         -->
        <!-- <div class="imd-video-list">
            <video id="banner-video" width="100%" poster="assets/images/video-poster.png" controls>
                <source src="assets/video/banner.mp4" type="video/mp4">
                <source src="assets/video/banner.mp4" type="video/ogg">
              </video>
              <div class="title">
                Video title
            </div>
        </div>
        <div class="imd-video-list">
            <video id="banner-video" width="100%" poster="assets/images/video-poster.png" controls>
                <source src="assets/video/banner.mp4" type="video/mp4">
                <source src="assets/video/banner.mp4" type="video/ogg">
              </video>
              <div class="title">
                Video title
              </div>
        </div>
        <div class="imd-video-list">
            <img src="../../assets/images/banner.png" alt="">
            <div class="title">
                Photos title
            </div>
        </div> -->
    </div>
</div>