<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1>Trainer <strong>Details</strong></h1>
    </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<section class="container">
    <div class="trainer-item-row">
        <div class="trainer-item">
            <div class="trainer-img" style="background-image:url('assets/images/trainer-img-1.png')">
            </div>
            <div class="trainer-item-info">
                <h4>Netnapa Seesai</h4>
                <p class="star-bx"><img src="assets/images/star-icon.png"> <span>(1920)</span></p>
                <p class="p-info"><span>Expert :</span> Car Wash, Home Cleaning</p>
                <div class="socials-icon">
                    <a href="#" class="facebook-icon"></a>
                    <a href="#" class="whatsapp-icon"></a>
                    <a href="#" class="call-icon"></a>
                    <a href="#" class="chat-icon"></a>
                </div>
            </div>
            <a href="#" class="btn details-btn">Book Now</a>
        </div>
    </div>
    <div class="provided-services-bx">
        <div class="text-center">
            <h2 class="p-cmn-title">Provided <strong>Services</strong></h2>
        </div>
        <div class="ps-item-row">
            <div class="ps-item">
                <div class="ps-trainer-img" style="background-image:url('assets/images/ps-img-1.png')">
                    <h4>Netnapa Seesai</h4>
                </div>
            </div>
            <div class="ps-item">
                <div class="ps-trainer-img" style="background-image:url('assets/images/ps-img-2.png')">
                    <h4>Technology</h4>
                </div>
            </div>
            <div class="ps-item">
                <div class="ps-trainer-img" style="background-image:url('assets/images/ps-img-3.png')">
                    <h4>Learning</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="photo-gallery-bx">
        <div class="text-center">
            <h2 class="p-cmn-title">Photo <strong>Gallery</strong></h2>
        </div>
        <div class="ps-item-row">
            <div class="ps-item width75">
                <div class="ps-trainer-img" style="background-image:url('assets/images/pg-img-5.png')">
                </div>
            </div>
            <div class="ps-item">
                <div class="ps-trainer-img" style="background-image:url('assets/images/pg-img-1.png')">
                </div>
            </div>
            <div class="ps-item">
                <div class="ps-trainer-img" style="background-image:url('assets/images/pg-img-2.png')">
                </div>
            </div>
            <div class="ps-item">
                <div class="ps-trainer-img" style="background-image:url('assets/images/pg-img-3.png')">
                </div>
            </div>
            <div class="ps-item">
                <div class="ps-trainer-img" style="background-image:url('assets/images/pg-img-4.png')">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Body content end -->
