<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1>Service <strong>Book Details</strong></h1>
    </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<section class="container">
    <div class="trainer-item-row">
        <div class="sbd-item-block">
            <div class="trainer-item">
                <div class="trainer-img" style="background-image:url('assets/images/trainer-img-1.png')">
                </div>
                <div class="trainer-item-info">
                    <h4>Netnapa Seesai</h4>
                    <p class="star-bx"><img src="assets/images/star-icon.png"> <span>(1920)</span></p>
                    <p class="pin-txt">7292 Dictum Av. San Antonio MI 47096</p>
                    <p class="p-info"><span>Booked Services:</span> Haircuts & Styling: Men ,Women & Perm or Straightening</p>
                </div>
                <div class="t-block-item-right">
                    <div class="accepted-icon-block">
                        <i class="accepted-icon" style="background-image:url('assets/images/accepted-icon.png')"></i>
                        <p>Accepted</p>
                    </div>
                    <p class="price-d">$75</p>
                </div>
            </div>
            <div class="sbd-date-time-txt">
                <span>20th January, 2021</span>
                <span>09:00am to 11:00am</span>
            </div>
        </div>
    </div>
    
</section>
<!-- Body content end -->
