<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1>Wallet <strong>History</strong></h1>
    </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<section class="container">
    <div class="notifications-block offer-price-block text-center">
        <div class="gift-box-icon"></div>
        <p class="offer-price">$999</p>
        <a href="#" class="btn book-service-btn">WITHDRAW</a>
    </div>
    <div class="notifications-block">
        <div class="notifications-item">
            <p>You have Withdrawn $399 on 21.02.2021</p>
            <span class="time-note">2 hours ago</span>
        </div>
        <div class="notifications-item">
            <p>Jassica Doe Paid you $399 on 21.02.2021</p>
            <span class="time-note">45 mins ago</span>
        </div>
        <div class="notifications-item">
            <p>You have withdrawn $29 on 21.02.2021</p>
            <span class="time-note">10 mins ago</span>
        </div>
        <div class="notifications-item">
            <p>You have Withdrawn $399 on 21.02.2021</p>
            <span class="time-note">2 hours ago</span>
        </div>
        <div class="notifications-item">
            <p>Jassica Doe Paid you $399 on 21.02.2021</p>
            <span class="time-note">1 hours ago</span>
        </div>
        <div class="notifications-item">
            <p>Assica Doe Paid you $399 on 21.02.2021</p>
            <span class="time-note">30 mins ago</span>
        </div>
    </div>
</section>
<!-- Body content end -->
