<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1>My <strong>Bookings</strong></h1>
    </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<section class="container">
    <div class="trainer-item-row">
        <div class="trainer-item">
            <div class="trainer-img" style="background-image:url('assets/images/trainer-img-1.png')">
            </div>
            <div class="trainer-item-info">
                <h4>Netnapa Seesai</h4>
                <p class="star-bx"><img src="assets/images/star-icon.png"> <span>(1920)</span></p>
                <p class="pin-txt">7292 Dictum Av. San Antonio MI 47096</p>
                <p class="price-txt">$10</p>
            </div>
            <a href="javascript:void(0);" [routerLink]="['/trainer-profile']" class="btn details-btn">Details</a>
        </div>
        <div class="trainer-item">
            <div class="trainer-img" style="background-image:url('assets/images/trainer-img-2.png')">
            </div>
            <div class="trainer-item-info">
                <h4>Robert  Pati</h4>
                <p class="star-bx"><img src="assets/images/star-icon.png"> <span>(1920)</span></p>
                <p class="pin-txt">7292 Dictum Av. San Antonio MI 47096</p>
                <p class="price-txt">$25</p>
            </div>
            <a href="javascript:void(0);" [routerLink]="['/trainer-profile']" class="btn details-btn">Details</a>
        </div>
        <div class="trainer-item">
            <div class="trainer-img" style="background-image:url('assets/images/trainer-img-3.png')">
            </div>
            <div class="trainer-item-info">
                <h4>Smite Doe</h4>
                <p class="star-bx"><img src="assets/images/star-icon.png"> <span>(1920)</span></p>
                <p class="pin-txt">7292 Dictum Av. San Antonio MI 47096</p>
                <p class="price-txt">$22</p>
            </div>
            <a href="javascript:void(0);" [routerLink]="['/trainer-profile']" class="btn details-btn">Details</a>
        </div>
    </div>
</section>
<!-- Body content end -->
