<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1>Offer <strong>Price</strong></h1>
    </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<section class="container">
    <div class="notifications-block offer-price-block text-center">
        <div class="gift-box-icon"></div>
        <p class="offer-price-info">Get your offer & use it to earn more</p>
        <p class="offer-price-code"><span>Offer Price: $15</span></p>
        <a href="#" class="btn book-service-btn">Use This Offer</a>
    </div>
</section>
<!-- Body content end -->
