<!-- Banner start -->
<section class="inner-banner">
  <div class="container">
    <h1>My Credentials</h1>
  </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<!-- <section class="container">
  <div class="text-center width754">
    <form [formGroup]="credentialsForm">
      <div class="row">

        <div class="form-group custom-input-field col-md-12">
         <textarea
            rows="5"
            formControlName="credentials"
            class="form-control"
            placeholder="Add your credentials here"
          ></textarea>

  	<ckeditor [(ngModel)]="mycontent" 
            #myckeditor="ngModel"
            name="myckeditor"
            required
            [config]="ckeConfig" 
            debounce="500" 
            (change)="onChange($event)">
	</ckeditor>
        
       
        </div>

        <div *ngIf="credentialsForm.controls['credentials'].invalid && (credentialsForm.controls['credentials'].dirty || credentialsForm.controls['credentials'].touched)" class="alert alert-danger">
          <div *ngIf="f.credentials.errors?.required">
          Please add credentials
          </div>
        </div>


        <div class="custom-input-field text-center col-md-12">
          <button type="submit" class="btn btn-submit" (click)="onSubmit()">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</section> -->
<!-- Body content end -->
<section class="container">
  <div class="row">

    <div class="form-group custom-input-field col-md-12">
     
<ckeditor [(ngModel)]="mycontent" 
        #myckeditor="ngModel"
        name="myckeditor"
        required
        [config]="ckeConfig" 
        debounce="500" 
        (change)="onChange($event)">
</ckeditor>
<div class="custom-input-field text-center col-md-12">
  <button type="submit" class="btn btn-submit" (click)="Submit()">
    Submit
  </button>
</div>
   
    </div>

  </div>
</section>