<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1><strong>Payment</strong></h1>
    </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<section class="container">
    <div class="my-profile-wrap">
        <div class="payment-card-block">
            <input type="radio" checked="checked" name="radio">
            <div class="payment-card-item">
                <div class="payment-card-left">
                    <div class="payment-card-img">
                        <img src="assets/images/visa-card.png">
                    </div>
                    <p>XXXX  XXXX  XXXX  5213</p>
                </div>
                <span class="payment-card-expiry">Expiry Date: <b>07/24</b></span>
            </div>
        </div>
        <div class="payment-card-block">
            <input type="radio" name="radio">
            <div class="payment-card-item">
                <div class="payment-card-left">
                    <div class="payment-card-img">
                        <img src="assets/images/mastercard.png">
                    </div>
                    <p>XXXX  XXXX  XXXX  5213</p>
                </div>
                <span class="payment-card-expiry">Expiry Date: <b>07/24</b></span>
            </div>
        </div>
        <div class="payment-card-block">
            <input type="radio" name="radio">
            <div class="payment-card-item">
                <div class="payment-card-left">
                    <div class="payment-card-img">
                        <img src="assets/images/american-express-card.png">
                    </div>
                    <p>XXXX  XXXX  XXXX  5213</p>
                </div>
                <span class="payment-card-expiry">Expiry Date: <b>07/24</b></span>
            </div>
        </div>
        <div class="text-center">
            <h2 class="p-cmn-title">Add <strong>New Card</strong></h2>
        </div>
        <form>
            <div class="row">
                <div class="col-md-6 form-group custom-input-field">
                    <input type="text" class="form-control" placeholder="Name on Card" required="required">
                </div>
                <div class="col-md-6 form-group custom-input-field">
                    <input type="text" class="form-control" placeholder="Card Number" required="required">
                </div>
                <div class="col-md-6 form-group custom-input-field">
                    <input type="text" class="form-control" placeholder="Expiry Month" required="required">
                </div>
                <div class="col-md-6 form-group custom-input-field">
                    <input type="text" class="form-control" placeholder="Expiry Year" required="required">
                </div>
                <div class="col-md-12 custom-input-field text-center">
                    <button type="submit" class="btn btn-submit">Update</button>
                </div>
            </div>
        </form>
       
    </div>
</section>
<!-- Body content end -->