.rating{
    margin-left: 10px;
}
.profile-img {
    float: left;
    height: 200px;
    width: 200px;
}
.profile-img img{
    width: 100%;
    border-radius: 10px;
    height: 200px;
}
.trainer-item {
    display: flex;
    justify-content: space-between;
}
.ser-det-right {
    float: left;
    width: calc(100% - 200px);
    padding-left: 30px;
}
.ser-det-right-com-btn {
    float: left;
    width: 150px;
}
.ser-det-right-com-btn button.btn{
    background: linear-gradient(180deg
, #22A6DE 0%, #2257DE 75.52%);
border-radius: 100px;
line-height: 40px;
font-style: normal;
font-weight: bold;
font-size: 16px;
text-align: center;
letter-spacing: 0.07em;
text-transform: uppercase;
color: #FFFFFF;
border: none;
}
.ser-det-right-com-btn button.btn:hover{
    background: linear-gradient(
180deg
, #2257DE 0%, #22A6DE 75.52%);
    color: #fff;
}
.img-video {
    width: calc(100% - 150px);
    padding-left: 30px;
    float: left;
}
.sherar-opction {
    float: left;
    width: 100%;
    padding: 20px 0px
}
.sherar-opction span {
    font-size: 20px;
    font-weight: 600;
    color: #777;
    margin-right: 12px;
    float: left;
    line-height: 50px;
}
.sherar-opction ul{
    padding: 0px;
    list-style: none;
}
.sherar-opction ul li{
    display: inline;
}
.sherar-opction ul li a{
   text-decoration: none;
   outline: none;

}
.sherar-opction ul li a img{
    width: 50px;
 }
 .sherar-opction ul li a:hover img{
    filter: grayscale(1);
 }
.d-block.vi-li-f-aq {
    float: left;
    width: 100%;
}
.d-block.vi-li-f-aq .flo-lik{
    float: left;
    margin-right: 16px;
    line-height: 40px;
    border-radius: 50px;
    text-align: center;
    border: 2px solid #2257DE;
    min-width: 300px;
    color: #2257DE;
}
.d-block.vi-li-f-aq .flo-lik span{
    margin: 0px 12px;
}

.d-block.vi-li-f-aq button.btn{
    background: linear-gradient(180deg
, #22A6DE 0%, #2257DE 75.52%);
border-radius: 100px;
line-height: 40px;
padding: 3px 24px;
margin-right: 16px;
font-style: normal;
font-weight: bold;
font-size: 16px;
text-align: center;
letter-spacing: 0.07em;
text-transform: uppercase;
color: #FFFFFF;
border: none;
}
.d-block.vi-li-f-aq button.btn:hover{
    background: linear-gradient(
180deg
, #2257DE 0%, #22A6DE 75.52%);
    color: #fff;
}

.sud-btm-det.d-flex {
    display: flex!important;
    justify-content: center;
    flex-wrap: wrap;
}
.sud-btm-det.d-flex .sud-btm-det-cont {
    text-align: center;
    padding: 30px;
    background: #f2f2f2;
    border-radius: 10px;
    margin: 0px 10px;
    width: calc(100% / 3.3);
}
.sud-btm-det.d-flex .sud-btm-det-cont h3{
    font-size: 20px;
    margin-bottom: 12px;
}
.sud-btm-det.d-flex .sud-btm-det-cont p{
    font-size: 18px;
    margin-bottom: 12px;
    color: #777;
}
.classes-btn{
    font-size: 18px;
    margin: 7px;
    color: #777;
    border:1px;
}
.sud-clan.d-block {
    max-width: 700px;
}
.sud-btm-det-cont button.btn{
    background: linear-gradient(180deg
, #22A6DE 0%, #2257DE 75.52%);
border-radius: 100px;
line-height: 40px;
padding: 3px 24px;
margin-right: 16px;
font-style: normal;
font-weight: bold;
font-size: 16px;
text-align: center;
letter-spacing: 0.07em;
text-transform: uppercase;
color: #FFFFFF;
border: none;
}
.sud-btm-det-cont button.btn:hover{
    background: linear-gradient(
180deg
, #2257DE 0%, #22A6DE 75.52%);
    color: #fff;
}
.d-block.star {
    color: #22A6DE;
    font-size: 24px;
    margin: 4px 8px 0px 0px;
    display: inline-block;
}
.d-block.star i{
    margin-right: 10px;
}
ul.str-rating{
    list-style: none;
    padding: 0px;
    float: left;
    width: 100%;
}
ul.str-rating li{
    min-width: 100%;
    float: left;
    margin-bottom: 12px;
}
ul.str-rating li .for-star {
    width: 33px;
    float: left;
    color: #777;
}
ul.str-rating li .for-prt{
    width: 50px;
    float: left;
    color: #777;
    text-align: right;
}
ul.str-rating li .progress {
    float: left;
    width: calc(100% - 86px);
}
.img-and-vid-list {
    /* display: flex; */
    justify-content: left;
    width: 100%;
    flex-wrap: wrap;
}
.img-and-vid-list p{
    display: block;
}

.img-and-vid-list p span{
    font-weight: bold;
    margin-right: 10px;
}
.img-and-vid-list .imd-video-list{
    width: calc(100% / 3.5);
    margin: 10px;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 0px 8px #f2f2f2;
}
.img-and-vid-list img, .img-and-vid-list video{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px ;
}
.img-and-vid-list .imd-video-list
.title {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.viewAll1{
    margin-left: 80%;
}
.viewAll2{
    margin-left: 90%;
}

@media(max-width:991px) and (min-width:768px){
    .ser-det-right{
        float: left;
        width: 100%;
        padding-left: 0;
        margin-top: 16px;
    }
    .ser-det-right-com-btn{
        float: left;
        width: 100%;
    }
    .ser-det-right-com-btn button.btn{
        max-width: 150px;
        display: inline-block;
        margin-right: 10px;
    }
    .d-block.vi-li-f-aq .flo-lik{
        min-width: 215px;
    }
}
@media(max-width:767.99px) and (min-width:576px){
    .ser-det-right{
        float: left;
        width: 100%;
        padding-left: 0;
        margin-top: 16px;
    }
    .ser-det-right-com-btn{
        float: left;
        width: 100%;
    }
    .ser-det-right-com-btn button.btn{
        max-width: 150px;
        display: inline-block;
        margin-right: 10px;
    }
    .d-block.vi-li-f-aq .flo-lik{
        min-width: 215px;
    }
    .img-video{
        width: 100%;
        padding-left: 0px;
    }
    .d-block.vi-li-f-aq button.btn {
        margin-bottom: 10px;
    }
    .sud-btm-det.d-flex .sud-btm-det-cont {
        width: calc(100% / 2.3);
        margin-bottom: 12px;
    }
}
@media(max-width:575.99px){
    .ser-det-right{
        float: left;
        width: 100%;
        padding-left: 0;
        margin-top: 16px;
    }
    .ser-det-right-com-btn{
        float: left;
        width: 100%;
    }
    .ser-det-right-com-btn button.btn{
        max-width: 85px;
        display: inline-block;
        margin-right: 4px;
        padding: 0px;
        font-size: 10px;
    }
    .d-block.vi-li-f-aq .flo-lik{
        min-width: 100%;
        margin-bottom: 12px;
    }
    .img-video{
        width: 100%;
        padding-left: 0px;
    }
    .d-block.vi-li-f-aq button.btn {
        margin-bottom: 10px;
    }
    .sud-btm-det.d-flex .sud-btm-det-cont {
        width: 100%;
        margin-bottom: 12px;
    }
    .img-and-vid-list .imd-video-list,
    .img-and-vid-list img, .img-and-vid-list video{
        width: 100%;
    }
    .sherar-opction ul li a img{
        width: 44px;
    }
}