.add-img-for-update {
    margin-left: 15px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.add-img-for-update img.prof{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.add-img-for-update
input[type="file"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.add-img-for-update img.edit{
    position: absolute;
    top: 8px;
    z-index: 9999999;
    right: 8px;
    pointer-events: none;
}