.login-modal-bx .modal-content{
    margin:0 auto 55px auto;
    max-width: 422px;
  }
  @media(max-width:1024px){
      
  }
  @media(max-width:767px){
      .login-modal-bx .modal-content{
        margin-bottom: 24px;
      }
  }
  