<div class="login-modal-header">
    <button type="button" class="close" mat-dialog-close>
        <i class="x-icon-medium" aria-hidden="true"></i>
    </button>
</div>
<mat-dialog-content class="login-modal-bx">
    <div class="modal-content">
        <h1>Forgot Password</h1>
        <form [formGroup]="userForm">
            <!-- <div class="form-group text-center radio-item-bx">
                <label class="radio-item">
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                    <span class="radio-label">Customer</span>
                </label>
                <label class="radio-item mrlft20">
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                    <span class="radio-label">Service Provider</span>
                </label>
            </div> -->
            <div class="form-group text-center radio-item-bx">
                <label class="radio-item">
                    <input type="radio" checked="checked" name="UserType" value="2" formControlName="UserType">
                    <span class="checkmark"></span>
                    <span class="radio-label">Customer</span>
                </label>
                <label class="radio-item mrlft20">
                    <input type="radio" name="UserType" value="1" formControlName="UserType">
                    <span class="checkmark"></span>
                    <span class="radio-label">Service Provider</span>
                </label>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="UserEmail" placeholder="Email Address"
                        required="required">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="icon email-icon"></i>
                        </span>
                    </div>
                </div>
                <div
                    *ngIf="f.UserEmail.invalid && (f.UserEmail.touched)|| f.UserEmail.invalid && userFormSubmitted">
                    <div class="errMessage" *ngIf="f.UserEmail.errors.required">
                        Email is required.
                    </div>
                    <div class="errMessage" *ngIf="f.UserEmail.errors.email">
                        Enter valid email
                    </div>
                </div>
            </div>
            <!-- <div class="form-group">
                <div class="input-group">
                    <input type="password" [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                        placeholder="Password" formControlName="UserPassword" required="required">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="icon" [ngClass]="{
                                'eye-off-icon': !fieldTextType,
                                'view-icon': fieldTextType
                              }" (click)="toggleFieldTextType()"></i>
                        </span>
                    </div>
                </div>
                <div
                    *ngIf="f.UserPassword.invalid && (f.UserPassword.dirty || f.UserPassword.touched)|| f.UserPassword.invalid && userFormSubmitted">
                    <div class="errMessage" *ngIf="f.UserPassword.errors.required">
                        Password is required.
                    </div>
                </div>
            </div> -->
            <div class="form-group clearfix">
                <!-- <label class="float-left form-check-label"><input type="checkbox"> Remember me</label> -->
                <!-- <a href="#" class="float-right forgot-txt" (click)="openLoginDialog()">Login</a> -->
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-submit" (click)="onSubmit()">Submit</button>
            </div>
            <!-- <div class="d-flex justify-content-center modal-bottom-links">
                Don't have an account? <a href="javascript:void(0);" class="register-link"
                    (click)="openRegisterDialog()" class="ml-2">Register</a>
            </div> -->
        </form>
    </div>
</mat-dialog-content>