<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1>Location <strong>Tracking</strong></h1>
    </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<section class="container">
    <div class="location-tracking-bx">
        <div class="delivery-time-message">
            <p>Your order will be delivery within 30 min.</p>
            <a href="#" class="btn book-service-btn">Call Delivery Boy</a>
        </div>
    </div>
    <div class="map-div" id="googleMap"></div>
</section>
<!-- Body content end -->
