<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1>My <strong>Profile</strong></h1>
    </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<section class="container">
    <div class="my-profile-wrap">
        <div class="profile-img-block" style="background-image:url('assets/images/trainer-img-4.png')">
            <i class="edit-icon"></i>
        </div>
        <ul class="nav nav-tabs profile-nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#personal-info" role="tab" aria-selected="true">Personal Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#change-password" role="tab" aria-selected="false">Change Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#card-details" role="tab" aria-selected="false">Card Details</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="personal-info" role="tabpanel">
                <form>
                    <div class="row">
                        <div class="col-md-6 form-group custom-input-field">
                            <input type="text" class="form-control" placeholder="Upload Baber License" required="required">
                        </div>
                        <div class="col-md-6 form-group custom-input-field">
                            <input type="text" class="form-control" placeholder="Upload Cosmetology License" required="required">
                        </div>
                        <div class="col-md-6 form-group custom-input-field">
                            <input type="text" class="form-control" placeholder="Upload Nail Technician License" required="required">
                        </div>
                        <div class="col-md-6 form-group custom-input-field">
                            <input type="text" class="form-control" placeholder="Upload Wax Technician License" required="required">
                        </div>
                        <div class="col-md-12 custom-input-field text-center">
                            <button type="submit" class="btn btn-submit">Update</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="change-password" role="tabpanel">
                <div class="update-password-block">
                    <form>
                        <div class="row">
                            <div class="col-md-12 form-group custom-input-field">
                                <input type="text" class="form-control" placeholder="Old Password" required="required">
                            </div>
                            <div class="col-md-12 form-group custom-input-field">
                                <input type="text" class="form-control" placeholder="Change Password" required="required">
                            </div>
                            <div class="col-md-12 form-group custom-input-field">
                                <input type="text" class="form-control" placeholder="New Password" required="required">
                            </div>
                            <div class="col-md-12 custom-input-field text-center">
                                <button type="submit" class="btn btn-submit">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="card-details" role="tabpanel">
                <form>
                    <div class="row">
                        <div class="col-md-6 form-group custom-input-field">
                            <input type="text" class="form-control" placeholder="Name on Card" required="required">
                        </div>
                        <div class="col-md-6 form-group custom-input-field">
                            <input type="text" class="form-control" placeholder="Card Number" required="required">
                        </div>
                        <div class="col-md-6 form-group custom-input-field">
                            <input type="text" class="form-control" placeholder="Expiry Month" required="required">
                        </div>
                        <div class="col-md-6 form-group custom-input-field">
                            <input type="text" class="form-control" placeholder="Expiry Year" required="required">
                        </div>
                        <div class="col-md-12 custom-input-field text-center">
                            <button type="submit" class="btn btn-submit">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Body content end -->
