<!--Home Banner start -->
<section class="banner">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li *ngFor="let banner of banners; let i = index" [attr.data-slide-to]="i" [ngClass]="i == 0 ? 'active ' : ''" data-target="#carouselExampleIndicators" data-slide-to="i"></li>

		</ol>
		<div class="carousel-inner">
			<div *ngFor="let banner of banners; let i = index" [attr.data-slide-to]="i" [ngClass]="i == 0 ? 'active carousel-item' : 'carousel-item'">
				<div class="banner_text">
					<h2>{{banner.heading}}</h2>
					<p>{{banner.subHeading}}</p>
					<a href="{{banner.buttonLink}}">{{banner.buttonText}}</a>
				</div>
				<div *ngIf="!banner.video">
				<img class="d-block w-100" src="https://nodeserver.mydevfactory.com:4290/{{banner.image}}" alt="First slide">
				</div>
				<div *ngIf="!banner.image" id="banner-video" width="100%">
					<video class="d-block w-100" [muted]="true" loop autoplay alt="First slide">
						<source src="https://nodeserver.mydevfactory.com:4290/{{banner.video}}" type="video/mp4">
					</video>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- Home banner end -->
<!-- Body content start -->
<section class="beauty_clean_service">
	<div class="container">
		<div class="row" >

			<!-- <div class="col-lg-6" *ngFor="let offer of offers; let i = index">
				<div class="beauty_service_box">
					<div class="beauty_service_text">
						<div class="beauty_service_text_inner">
							<h3>{{offer.heading}}</h3>
							<h2>{{offer.subHeading}}</h2>
							<h2>{{offer.offer}}</h2>
							<a href="#" class="book_now">{{offer.buttonText}}</a>
						</div>
					</div>
					<img src="https://nodeserver.mydevfactory.com:4290/{{offer.image}}" alt="" />
				</div>
			</div> -->
			
			<div class="col-md-12">
				<owl-carousel-o [options]="customOptions" style="width:100%;">
					<ng-container *ngFor="let offer of offers; let i = index">
					  <ng-template carouselSlide>
						<div class="beauty_service_box">
							<div class="beauty_service_text">
								<div class="beauty_service_text_inner">
									<h3>{{offer.heading}}</h3>
									<h2>{{offer.subHeading}}</h2>
									<h2>{{offer.offer}}</h2>
									<a href="#" class="book_now">{{offer.buttonText}}</a>
								</div>
							</div>
							<img src="https://nodeserver.mydevfactory.com:4290/{{offer.image}}" alt="" />
						</div>
					  </ng-template>
					</ng-container>
				</owl-carousel-o>
			</div>
			
		</div>
	</div>
</section>
<section class="featured_category">
	<div class="container">
		<h2>Featured <span>Categories</span></h2>
		<p>What do you need to find?</p>
		<div class="category_feature_main">
			<div class="row">
				<div class="col-lg-4" [routerLink]="['/sub-category/'+data._id]"
					*ngFor="let data of categorylisting; let i=index">
					<ng-container *ngIf="i<6">
						<div class="category_feature_box">
							<div class="cat_name">{{data.name}}</div>
							<img src="{{data.imageUrl}}" alt="" />
						</div>
					</ng-container>
				</div>
			
			</div>
		</div>
		<div class="view_all_service_btn">
			<a href="#">View All Services</a>
		</div>
	</div>
</section>
<section class="most_propular_service">
	<div class="container">
		<h2>Most Popular <span>Services</span></h2>
		<p>Explore the greates our services. You won’t be disappointed</p>
		<div class="most_propular_service_main">
			<div class="row">
				<div class="col-sm-12">
					<owl-carousel-o [options]="popularOptions" style="width:100%;">
						<ng-container *ngFor="let data of popularServiceList; let i=index" >
						  <ng-template carouselSlide class="p-3">
							<div class="propular_service_box">
								<div class="propular_service_img">
									<img src="https://nodeserver.mydevfactory.com:4290/{{data.image}}" alt="" />
								</div>
								<div class="propular_service_text">
									<h4>{{data.name}}</h4>
									<div class="propular_rate">
										<!-- <img src="assets/images/rating.png" alt="" /> (4.3) -->
										<!-- <star-rating-comp [starType]="'icon'" [rating]="3"></star-rating-comp> -->
										<!-- <star-rating value="5" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating> -->
										<div class="cont">
											<div class="stars popularStarRating">
												<ngx-star-rating [(ngModel)]="data.rating" [disabled] ="true"></ngx-star-rating>
											</div>
										</div>
									</div>
									
									<div class="clear-both"></div>
									<div class="phone_num1">
										<!-- XXX XXX XX56 -->
										<!-- XXX XXX XX{{data[0].provider_details.UserPhone}} -->
										{{data.phone}}
									</div>
									
								</div>
							</div>
						  </ng-template>
						</ng-container>
					</owl-carousel-o>
				</div>
				
				<!-- <div class="col-lg-4" *ngFor="let data of popularServiceList; let i=index">
						<div class="propular_service_box">
							<div class="propular_service_img">
								<img src="https://nodeserver.mydevfactory.com:4290/{{data.image}}" alt="" />
							</div>
							<div class="propular_service_text">
								<h4>{{data.name}}</h4>
								<div class="propular_rate">
									<img src="assets/images/rating.png" alt="" /> (4.3) 
									<star-rating-comp [starType]="'icon'" [rating]="3"></star-rating-comp> 
									<star-rating value="5" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating> 
								
								</div>
								
								<div class="phone_num">
									XXX XXX XX56 
									XXX XXX XX{{data[0].provider_details.UserPhone}}
									{{data.phone}}
								</div>
							</div>
						</div>
				</div> -->
			
			</div>
		</div>


		<!----------------------------------------------------------------------------------------------------------------------->

		<!-- <h2>Most Popular <span>Services</span></h2>
		<p>Explore the greates our services. You won’t be disappointed</p>
		<div class="most_propular_service_main">
			<div class="row">
				<div class="col-lg-4" *ngFor="let data of providerlisting; let i=index">
					<ng-container *ngIf="i<3">
						<div class="propular_service_box">
							<div class="propular_service_img">
								<img src="{{data[0].homeURl+data[0].category_details.image}}" alt="" />
							</div>
							<div class="propular_service_text">
								<h4>{{data[0].category_details.name}}</h4>
								<div class="propular_rate">
									<img src="assets/images/rating.png" alt="" /> (4.3)
								</div>
								<div class="phone_num">
									XXX XXX XX56
									XXX XXX XX{{data[0].provider_details.UserPhone}}
									XXX XXX XX{{data[0].provider_details.UserPhone[8]+data[0].provider_details.UserPhone[9]}}
								</div>
							</div>

						</div>
					</ng-container>
				</div>
			
			</div>
		</div>
 -->

		<!----------------------------------------------------------------------------------------------------------------------->

		<div class="view_all_propular_service">
			<a href="#">View All</a>
		</div>
	</div>

	<!-- <app-public-job-list [item]="'Bombay'"></app-public-job-list> -->
	<app-public-job-list limit-to="2" class="home-page-job-list"></app-public-job-list>
	<div class="view_all_propular_service"><a  href="#">View All</a></div>

</section>
<!-- Body content end -->