<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1><strong>Notifications</strong></h1>
    </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<section class="container">
    <div class="notifications-block">
        <div class="notifications-item">
            <p>Service provider Mica have accepted your request.</p>
            <span class="time-note">2 hours ago</span>
        </div>
        <div class="notifications-item">
            <p>Service provider Mica have started the job.</p>
            <span class="time-note">45 mins ago</span>
        </div>
        <div class="notifications-item">
            <p>Service provider Mica have completed the job.</p>
            <span class="time-note">10 mins hours ago</span>
        </div>
        <div class="notifications-item">
            <p>Service provider John have accepted your request.</p>
            <span class="time-note">2 hours ago</span>
        </div>
        <div class="notifications-item">
            <p>Service provider Sergio have accepted your request.</p>
            <span class="time-note">1 hours ago</span>
        </div>
        <div class="notifications-item">
            <p>Service provider Sergio have completed the job.</p>
            <span class="time-note">30 mins hours ago</span>
        </div>
    </div>
</section>
<!-- Body content end -->