<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1>My <strong>Transaction</strong></h1>
    </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<section class="container">
    <div class="table-responsive-md transaction-table">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Customer</th>
                <th scope="col">Service</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jasica Rey</td>
                    <td>Car Wash, Home Cleaning, Floor Cleaning</td>
                    <td class="price">$30</td>
                    <td class="status pending">Pending</td>
                </tr>
                <tr>
                    <td>Jonny Shawn</td>
                    <td>Car Wash, Floor Cleaning</td>
                    <td class="price">$20</td>
                    <td class="status paid">paid</td>
                </tr>
                <tr>
                    <td>Sergio Seas</td>
                    <td>Home Cleaning, Floor Cleaning</td>
                    <td class="price">$36</td>
                    <td class="status pending">Pending</td>
                </tr>
                <tr>
                    <td>Mosco Doe</td>
                    <td>Car Wash, Home Cleaning</td>
                    <td class="price">$30</td>
                    <td class="status paid">Paid</td>
                </tr>
                <tr>
                    <td>Rio Cage</td>
                    <td>Car Wash, Home Cleaning</td>
                    <td class="price">$30</td>
                    <td class="status paid">Paid</td>
                </tr>
            </tbody>
          </table>
    </div>
</section>
<!-- Body content end -->
    

